<h1>Questions#answer</h2>

<div class="container qa">
  <h3>Your question:</h3>
  <h2 class="quote">"<%= @question %>"</h2>
  <h3 id="coach-answer">Coach:</h3>
  <h2 class="quote">"<%= @answer %>"</h2>

  <span class="btn back-link"><%= link_to 'Ask another question', '/ask' %></span>
</div>
