<h2>Questions#ask</h2>
<h3>Ask your coach anything</h3>

<form action="/answer">
  <input id="input-field" type="text" name="question" placeholder="What do you want to ask?">
  <input class="btn-danger" type="submit" value="Ask!">
</form>

