// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}

#input-field {
  width: 600px;
  text-align: center;
}

.qa {
  text-align: left;
}

#coach-answer {
  margin-top: 50px;
}

.quote {
  font-style: italic;
}

.back-link {
  margin-top: 50px;
  color: red;
  text-decoration: none;
  text-align: right;
  border: solid 1px black;
}
